extends layout

block content
  h1(class='mb-4')= title

  if error
    p Error getting dynamic content.
  else
    ul(class='list-unstyled d-flex flex-wrap category-container')
      each category in categories
        li(class='col-sm-3 p-0 rounded border border-2 d-flex flex-column justify-content-center category-item')
          a(href=category.url class='p-3 text-dark text-decoration-none')
            p(class='m-0 category-name') #{category.name}
            p(class='m-0 category-description') #{category.description}
