extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p Products by category:

    ul
      each category in categories
        li
          p !{category.name}
          p !{category.description}
