body {
  font: 14px 'Inter', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* Sidebar */
.sidebar-wrapper {
  background: #f6f6f6;
}

.nav-link {
  background: #e7e7e7;
}

.nav-link:hover {
  background: #e2e2e2;
}

.nav-link:active {
  background: #d0d0d0;
}
