body {
  font: 14px 'Inter', 'Lucida Grande', Helvetica, Arial, sans-serif;
  max-width: 1360px;
  margin: 0 auto;
}

a {
  color: #00b7ff;
}

/* Header */
.header {
  background: #2c363f;
  height: 60px;
}

.nav-title {
  font-size: 18px;
}

/* Sidebar */
.sidebar-wrapper {
  background: #f6f6f6;
}

.nav-link {
  background: #e7e7e7;
}

.nav-link:hover {
  background: #e2e2e2;
}

.nav-link:active {
  background: #d0d0d0;
}

/* Main */
.main {
  background: FAFAFA;
}

.main h1 {
  font-size: 32px;
}

/* Category list (homepage) */
.category-container {
  gap: 20px;
}

.category-item {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.category-item:hover {
  background: #fafafa;
}

.category-name {
  font-size: 18px;
  font-weight: 500;
}

/* Product list */
.product-description,
.category-description {
  font-size: 13px;
  opacity: 0.7;
}

.product-name {
  color: #2c363f;
}

.product-title {
  font-weight: 600;
}

/* Product Detail Page */
.product-detail-info {
  font-size: 16px;
}
